@import 'stylesheets/variables.scss';

.photo {
  width: 100%;
}

.contactform {
  padding: 40px 20px;
  background-color: $formBgColor;
}

.title {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.56;
  color: $secondColor;
}
.thumb {
  position: relative;
  display: inline-block;
  width: 280px;
  margin-bottom: 32px;
}

.label {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 16px;
  line-height: 1.44;
  color: $labelColor;

  transition: transform $transitionDuration $transitionAnim,
    color $transitionDuration $transitionAnim;
}

.input {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.44;
  color: $secondColor;
  outline: none;
  border: none;

  transition: color $transitionDuration $transitionAnim;

  &:focus {
    border: 1px solid $accentColor;
  }

  &:focus + .label {
    color: $accentColor;
    transform: translateY(-35px);
  }
}

.button {
  width: 100%;
  height: 42px;
  background-color: $accentColor;
  color: $mainColor;
  border-radius: 5px;

  outline: none;
  border: none;

  transition: background-color $transitionDuration $transitionAnim;

  &:hover,
  &:focus {
    background-color: rgba(40, 167, 69, 0.7);
  }
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    margin-bottom: 40px;
  }

  .photo {
    width: 368px;
  }

  .contactform {
    padding-left: 32px;
    padding-right: 44px;
  }

  .thumb {
    width: 324px;
  }

  .label {
    font-size: 18px;
    line-height: 1.28;
  }

  .input {
    font-size: 18px;
    line-height: 1.28;
  }
}

@media (min-width: 1360px) {
  .contact {
    margin-bottom: 0;
  }

  .photo {
    width: 670px;
  }

  .contactform {
    padding: 80px 28px 80px 20px;
  }

  .thumb {
    width: 620px;
  }

  .button {
    margin-top: 28px;
  }
}
