@import 'stylesheets/variables.scss';

.header {
  margin-bottom: 40px;
  height: 120px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    margin-bottom: 14px;
  }
}

.name {
  font-size: 32px;
  line-height: 1.32;
  color: $mainColor;

  &-accent {
    color: $accentColor;
  }
}

.menu {
  display: flex;
}

.item {
  font-size: 16px;
  line-height: 1.6;
  color: $mainColor;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 344px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .item {
    font-size: 18px;
    line-height: 1.56;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1360px) {
  .header {
    margin-bottom: 224px;
    padding-top: 12px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .item:not(:last-child) {
    margin-right: 40px;
  }
}
