@import 'stylesheets/variables.scss';

.header {
  position: absolute;
  display: flex;
  height: 120px;
  width: 100%;
  max-width: inherit;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 40px;
  box-sizing: border-box;
  z-index: 5;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  transition: all $transitionDuration $transitionAnim;

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
  }

  @media (max-width: 767px) {
    margin-bottom: 14px;
  }
}

.name {
  font-size: 32px;
  line-height: 1.32;
  color: $mainColor;

  &-accent {
    color: $accentColor;
  }
}

.menu {
  display: flex;
}

.item {
  font-size: 16px;
  line-height: 1.6;
  color: $mainColor;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    border-bottom: 2px solid $accentColor;
  }
  &:not(:last-child) {
    margin-right: 12px;
  }
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 344px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .item {
    font-size: 18px;
    line-height: 1.56;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1360px) {
  .header {
    margin-bottom: 224px;
    padding-top: 12px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .item:not(:last-child) {
    margin-right: 40px;
  }
}
