@import 'stylesheets/variables.scss';

.soclist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socitem {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.socicon {
  width: 25px;
  height: 25px;
  fill: $mainColor;

  transition: fill $transitionDuration $transitionAnim;

  &:hover {
    fill: rgba(255, 255, 255, 0.8);
  }

  @media (min-width: 1360px) {
    width: 35px;
    height: 35px;
  }
}
